.gallery{

    margin-left: 90px;

    margin-top: 10px;

    padding: 20px;

    column-count: 4;

    column-gap: 15px;

}



/* Responsive */

@media (max-width: 1200px){

    .gallery{

        column-count: 3;

    }

}



@media (max-width: 800px){

    .gallery{

        column-count: 2;

    }

}



@media (max-width: 500px){

    .gallery{

        column-count: 1;

    }

}